.custom-box-1 {
    background-color: #f2e7e7;
}

.custom-box-2 {
    background-color: #e5eaf0;
}
  
.custom-box-3 {
    background-color: #daf7d3;
}  

.field-title {
    font-size: 1.00rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: 0.25rem;
}